@media screen and (max-width: 375px) {
  html,
  body {
    margin: 2px;
    background-color: blueviolet;
  }

  .box1 h1 {
    font-size: 20px;
  }

  .box1 a,
  .fa-rocket {
    font-size: 16px;
  }

  .box4,
  a {
    font-size: 16px;
    color: rgb(102, 227, 19);
  }
}
