html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: navy;
  color: greenyellow;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-auto-rows: 100%;
}

.box1 {
  display: grid;
  background-image: url("/images/biggerspace.jpg");
  background-size: cover;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  justify-content: center;
  align-items: top;
  font-size: small;
}

.box1 a,
.fa-rocket {
  color: gold;
  font-size: 30px;
}

a {
  width: 250px;
  height: 30px;
}

a :hover {
  color: rgb(201, 49, 22);
  font-size: 30px;
}

.box2 {
  display: grid;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.box4 {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 4;
  align-items: end;
}

@media screen and (max-width: 375px) {
  html,
  body {
    margin: 2px;
    background-color: rgb(46, 176, 34);
    color: blue;
  }

  .box1 {
    display: grid;
    background-image: url("/images/biggerspace.jpg");
    background-size: cover;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-content: center;
    align-items: top;
    font-size: small;
  }

  .box1 h1 {
    font-size: 20px;
  }

  .box1 a,
  .fa-rocket {
    font-size: 16px;
  }

  .box2 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .box4,
  a {
    font-size: 16px;
    color: rgb(14, 33, 202);
  }
}
